<div class="cell shrink">
  <h1>Edit File</h1>
</div>
<div class="cell shrink">
  {{tabs-title tabs=tabs}}
</div>
<div class="cell auto tabs-content">
  {{#tabs-panel tabs=tabs idx=0}}
    {{body-editor body=model.body}}
  {{/tabs-panel}}
  {{#tabs-panel tabs=tabs idx=1}}
    Not implemented yet.
  {{/tabs-panel}}
  {{#tabs-panel tabs=tabs idx=2}}
    <div class="grid-x grid-padding-x full-height">
      <div class="cell small-6 cell-block-y">
        <ul class="no-bullet">
          {{xml-tree-editor
            node=model.header
            click-node-title=(action "select-metadata-node")
            notify-model-change=(action "notify-model-change")
          }}
        </ul>
      </div>
      <div class="cell small-6 cell-block-y">
        {{#if selected_metadata_node}}
          {{node-editor
            node=selected_metadata_node
            edit_tail=false
            notify-model-change=(action "notify-model-change")
          }}
        {{/if}}
      </div>
    </div>
  {{/tabs-panel}}
</div>
