<div class="cell shrink">
  <h1>Edit File</h1>
</div>
<div class="cell shrink">
  {{tabs-title tabs=tabs}}
</div>
<div class="cell auto tabs-content">
  {{#tabs-panel tabs=tabs idx=0}}
    {{body-editor body=model.body}}
  {{/tabs-panel}}
  {{#tabs-panel tabs=tabs idx=1}}
    <div class="grid-x full-height">
      <div class="cell small-12 medium-6 full-height auto-overflow">
        {{header-editor model=model header=model.header}}
      </div>
    </div>
  {{/tabs-panel}}
</div>
