<div class="cell">
  <h1>Select the Project to load</h1>
  <ul class="menu vertical" role="menubar">
    {{#each model as |repository|}}
      <li role="none"><a {{action "select-repository" repository.id}} role="menuitem">{{repository.title}}</a></li>
    {{/each}}
  </ul>
</div>
