html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

a {
  color: #b7512a;
  cursor: pointer; }
  a.with-icon {
    display: inline-flex;
    align-items: center; }
    a.with-icon > span {
      padding-left: 0.25rem; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1, .size-h1 {
  font-size: 1.28571rem;
  font-weight: bold; }

h2, .size-h2 {
  font-size: 1.14286rem;
  font-weight: bold; }

h3, .size-h3 {
  font-size: 1rem;
  font-weight: bold; }

ul, ol {
  margin-top: 0;
  margin-bottom: 0; }
  ul.no-bullet, ol.no-bullet {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }

dl {
  margin: 0; }

.no-margin {
  margin: 0; }

.margin-top {
  margin-top: 1rem; }

.margin-left {
  margin-left: 1rem; }

.margin-bottom {
  margin-bottom: 1rem; }

.padding-left {
  padding-left: 1rem; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.full-width {
  width: 100%; }

.flex {
  display: flex;
  flex-direction: row; }
  .flex.vertical {
    flex-direction: column; }
  .flex > * {
    flex: 1 1 auto;
    box-sizing: border-box; }
  .flex > .shrink {
    flex: 0 0 auto; }
  .flex > span {
    display: block; }
  .flex > .align-end {
    align-self: flex-end; }
  .flex > .flex-25 {
    width: 25%; }
  .flex > .flex-75 {
    width: 75%; }

nav.border-top {
  border-top: 1px solid #cacaca; }

nav ul[role="menubar"] {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background: #e6e6e6; }
  nav ul[role="menubar"] li {
    list-style-type: none; }
  nav ul[role="menubar"] a[role="menuitem"] {
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 0.28571rem solid transparent;
    color: #b24400; }
    nav ul[role="menubar"] a[role="menuitem"][aria-current="true"] {
      border-bottom: 0.28571rem solid #b7512a; }
  nav ul[role="menubar"] span {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-bottom: 0.28571rem solid transparent; }

dl.detail-list dt {
  margin: 0;
  padding: 0;
  font-weight: normal;
  border-left: 0.07143rem solid #cacaca;
  border-right: 0.07143rem solid #cacaca;
  border-top: 0.07143rem solid #cacaca;
  border-top-left-radius: 0.21429rem;
  border-top-right-radius: 0.21429rem;
  padding: 0.33333rem 1rem 0 1rem; }
  dl.detail-list dt h2 {
    margin-bottom: 0; }
    dl.detail-list dt h2 a {
      text-decoration: none; }

dl.detail-list dd {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 1rem 0.33333rem 1rem;
  font-size: 0.85714rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  border-left: 0.07143rem solid #cacaca;
  border-right: 0.07143rem solid #cacaca;
  border-bottom: 0.07143rem solid #cacaca;
  border-bottom-left-radius: 0.21429rem;
  border-bottom-right-radius: 0.21429rem; }
  dl.detail-list dd span {
    flex: 1 1 0;
    display: block;
    padding-right: 1rem; }
    dl.detail-list dd span:last-child {
      padding-right: 0; }

svg.icon {
  width: 1.28571rem;
  height: 1.28571rem; }
  svg.icon.large {
    width: 1.71429rem;
    height: 1.71429rem; }
  svg.icon.small {
    width: 1rem;
    height: 1rem; }
  svg.icon.success path, svg.icon.success g {
    fill: #00aa00; }
  svg.icon.warning path, svg.icon.warning g {
    fill: #dd0000; }

[role="dialog"] {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 20rem;
  background: #fefefe;
  box-shadow: 0 0 0.71429rem #0a0a0a;
  padding: 1rem;
  border-radius: 0.21429rem;
  display: flex;
  flex-direction: column;
  z-index: 10000; }
  [role="dialog"][aria-modal="true"] {
    left: 0;
    top: 0;
    transform: none;
    width: 100vw;
    height: 100vh;
    background: #e6e6e666;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    display: block; }
    [role="dialog"][aria-modal="true"] > * {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 35rem;
      height: 20rem;
      background: #fefefe;
      box-shadow: 0 0 0.71429rem #8a8a8a;
      padding: 1rem;
      border-radius: 0.21429rem;
      display: flex;
      flex-direction: column;
      z-index: 10001; }

form label {
  display: block;
  width: 100%;
  font-size: 0.85714rem; }
  form label input[type="text"], form label input[type="email"], form label input[type="password"] {
    display: block;
    width: 100%;
    font-size: 0.92857rem;
    border: 1px solid #cacaca;
    padding: 0.5rem 0.5rem; }
    form label input[type="text"]:focus, form label input[type="email"]:focus, form label input[type="password"]:focus {
      box-shadow: 0 0 0.21429rem #e6e6e6 inset;
      background: #fefefe; }

form span.error-msg {
  display: block;
  color: #cc0000;
  font-size: 0.85714rem; }
  form span.error-msg.empty:after {
    display: block;
    content: '\00a0'; }

.button {
  border: 1px solid #b24400;
  background: #b7512a;
  color: #fefefe;
  padding: 0.5rem 0.5rem;
  font-size: 0.92857rem;
  cursor: pointer;
  display: inline-block; }
  .button.outline {
    background: #fefefe;
    color: #b7512a; }

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  #app > nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row; }
    #app > nav > ul:first-child {
      flex: 1 1 auto; }
    #app > nav > ul:last-child {
      flex: 0 0 auto; }
  #app > main {
    flex: 1 1 auto;
    overflow: hidden; }

.width-limited {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }

div.home {
  height: 100%;
  padding: 1rem;
  overflow: auto; }

.editor {
  height: 100%;
  overflow: hidden; }

.text-editor {
  height: 100%;
  overflow: hidden; }
  .text-editor > div {
    overflow: auto; }
    .text-editor > div .cm-content {
      cursor: text; }
      .text-editor > div .cm-content:focus, .text-editor > div .cm-content::-moz-focus-inner {
        outline: none; }

#busy {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  cursor: wait; }
  #busy progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.28571rem;
    border: none;
    background: #8a8a8a; }
