html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

a {
  color: #b7512a;
  cursor: pointer; }
  a.with-icon {
    display: inline-flex;
    align-items: center; }
    a.with-icon > span {
      padding-left: 0.25rem; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1, .size-h1 {
  font-size: 1.28571rem;
  font-weight: bold; }

h2, .size-h2 {
  font-size: 1.14286rem;
  font-weight: bold; }

h3, .size-h3 {
  font-size: 1rem;
  font-weight: bold; }

ul, ol {
  margin-top: 0;
  margin-bottom: 0; }
  ul.no-bullet, ol.no-bullet {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }

dl {
  margin: 0; }

.no-margin {
  margin: 0; }

.margin-top {
  margin-top: 1rem; }

.margin-left {
  margin-left: 1rem; }

.margin-right {
  margin-right: 1rem; }

.margin-right-small {
  margin-right: 0.5rem; }

.margin-bottom {
  margin-bottom: 1rem; }

.padding-left {
  padding-left: 1rem; }

.padding-right {
  padding-right: 1rem; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.full-width {
  width: 100%; }

.font-small {
  font-size: 0.85714rem; }

.disabled {
  color: #666; }

.flex {
  display: flex;
  flex-direction: row; }
  .flex.vertical {
    flex-direction: column; }
  .flex.align-end {
    justify-content: flex-end; }
  .flex.align-bottom {
    align-items: flex-end; }
  .flex > * {
    flex: 1 1 auto;
    box-sizing: border-box; }
  .flex > .shrink {
    flex: 0 0 auto; }
  .flex > .expand {
    flex: 1 1 auto;
    overflow: auto; }
  .flex > span {
    display: block; }
  .flex > .align-end {
    align-self: flex-end; }
  .flex > .flex-25 {
    width: 25%; }
  .flex > .flex-75 {
    width: 75%; }

nav {
  border-bottom: 1px solid #cacaca; }
  nav ul[role="menubar"] li::before {
    display: none; }

ul[role="menubar"] {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background: #e6e6e6; }
  ul[role="menubar"].transparent {
    background: transparent; }
  ul[role="menubar"] li {
    list-style-type: none; }
    ul[role="menubar"] li.expander {
      flex: 1 1 auto; }
    ul[role="menubar"] li.separator {
      width: 1rem; }
  ul[role="menubar"] a[role="menuitem"] {
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 0.28571rem solid transparent;
    color: #b24400; }
    ul[role="menubar"] a[role="menuitem"][aria-current="true"], ul[role="menubar"] a[role="menuitem"][aria-checked="true"], ul[role="menubar"] a[role="menuitem"]:hover, ul[role="menubar"] a[role="menuitem"]:focus {
      outline: none;
      border-bottom: 0.28571rem solid #b7512a; }
    ul[role="menubar"] a[role="menuitem"][aria-disabled="true"] {
      border-bottom: 0.28571rem solid transparent;
      cursor: not-allowed; }
  ul[role="menubar"] select[role="menuitem"] {
    margin: 0 1rem; }
  ul[role="menubar"] span {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-bottom: 0.28571rem solid transparent; }

dl.detail-list dt {
  margin: 0;
  padding: 0;
  font-weight: normal;
  border-left: 0.07143rem solid #cacaca;
  border-right: 0.07143rem solid #cacaca;
  border-top: 0.07143rem solid #cacaca;
  border-top-left-radius: 0.21429rem;
  border-top-right-radius: 0.21429rem;
  padding: 0.33333rem 1rem 0 1rem; }
  dl.detail-list dt h2 {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    dl.detail-list dt h2 a {
      text-decoration: none; }

dl.detail-list dd {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 1rem 0.33333rem 1rem;
  font-size: 0.85714rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  border-left: 0.07143rem solid #cacaca;
  border-right: 0.07143rem solid #cacaca;
  border-bottom: 0.07143rem solid #cacaca;
  border-bottom-left-radius: 0.21429rem;
  border-bottom-right-radius: 0.21429rem; }
  dl.detail-list dd span {
    flex: 1 1 0;
    display: block;
    padding-right: 1rem; }
    dl.detail-list dd span:last-child {
      padding-right: 0; }
  dl.detail-list dd li {
    margin-bottom: 0.25rem; }

svg.icon {
  width: 1.28571rem;
  height: 1.28571rem; }
  svg.icon.large {
    width: 1.71429rem;
    height: 1.71429rem; }
  svg.icon.small {
    width: 1rem;
    height: 1rem; }
  svg.icon.success path, svg.icon.success g {
    fill: #00aa00; }
  svg.icon.warning path, svg.icon.warning g {
    fill: #dd0000; }

[aria-disabled="true"] svg path, [aria-disabled="true"] svg g {
  fill: #e6e6e6; }

[role="dialog"] {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 20rem;
  background: #fefefe;
  box-shadow: 0 0 0.71429rem #0a0a0a;
  border-radius: 0.21429rem;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  overflow: auto; }
  [role="dialog"][aria-modal="true"] {
    left: 0;
    top: 0;
    transform: none;
    width: 100vw;
    height: 100vh;
    background: #e6e6e666;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    display: block; }
    [role="dialog"][aria-modal="true"] > * {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 35rem;
      height: 20rem;
      background: #fefefe;
      box-shadow: 0 0 0.71429rem #8a8a8a;
      padding: 1rem;
      border-radius: 0.21429rem;
      display: flex;
      flex-direction: column;
      z-index: 10001; }
  [role="dialog"] > h1, [role="dialog"] > h2, [role="dialog"] > h3, [role="dialog"] > h4, [role="dialog"] > h5 {
    padding: 1rem;
    position: sticky;
    top: 0; }
  [role="dialog"] > * {
    padding-left: 1rem;
    padding-right: 1rem; }
  [role="dialog"] > *:last-child {
    padding-bottom: 1rem; }
  [role="dialog"].error h2, [role="dialog"].error h3, [role="dialog"].error h4, [role="dialog"].error h5 {
    background: #cc0000;
    color: #fefefe; }

label {
  display: block;
  width: 100%;
  font-size: 0.85714rem; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
  display: block;
  width: 100%;
  font-size: 0.92857rem;
  border: 1px solid #cacaca;
  padding: 0.5rem 0.5rem; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    box-shadow: 0 0 0.21429rem #e6e6e6 inset;
    background: #fefefe;
    outline: none; }
  input[type="text"][readonly="readonly"], input[type="email"][readonly="readonly"], input[type="password"][readonly="readonly"], input[type="search"][readonly="readonly"] {
    background: #e6e6e6; }

span.error-msg {
  display: block;
  color: #cc0000;
  font-size: 0.85714rem; }
  span.error-msg.empty:after {
    display: block;
    content: '\00a0'; }

.button {
  border: 1px solid #b24400;
  background: #b7512a;
  color: #fefefe;
  padding: 0.5rem 0.5rem;
  font-size: 0.92857rem;
  cursor: pointer;
  display: inline-block; }
  .button.outline {
    background: #fefefe;
    color: #b7512a; }
  .button.small {
    font-size: 80%;
    padding: 0.33333rem 0.5rem; }
  .button.clear {
    background: #fefefe;
    color: #b7512a;
    border: 1px solid transparent; }

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  #app > nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row; }
    #app > nav > ul:first-child {
      flex: 1 1 auto; }
    #app > nav > ul:last-child {
      flex: 0 0 auto; }
  #app > main {
    flex: 1 1 auto;
    overflow: hidden; }

.width-limited {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }

div.home {
  height: 100%;
  padding: 1rem;
  overflow: auto; }

div.branch-overview {
  height: 100%;
  overflow: auto;
  padding: 1rem; }
  div.branch-overview form.file-filter {
    position: relative; }
    div.branch-overview form.file-filter input[type="search"] {
      padding-right: 2.42857rem; }
    div.branch-overview form.file-filter svg {
      position: absolute;
      top: 50%;
      right: 0.57143rem;
      transform: translateY(-50%); }

.editor {
  height: 100%;
  overflow: hidden; }

.text-editor {
  height: 100%;
  overflow: hidden; }
  .text-editor > div {
    overflow: auto; }
    .text-editor > div .cm-content {
      cursor: text; }
      .text-editor > div .cm-content:focus, .text-editor > div .cm-content::-moz-focus-inner {
        outline: none; }

#tei-editor > nav li:first-child {
  margin-right: 1rem; }

#tei-editor .text-editor .ProseMirror {
  padding: 0 1rem;
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; }

#tei-editor .text-editor .ProseMirror pre {
  white-space: pre-wrap; }

#tei-editor .text-editor .ProseMirror li {
  position: relative; }

#tei-editor .text-editor .ProseMirror-hideselection *::selection {
  background: transparent; }

#tei-editor .text-editor .ProseMirror-hideselection *::-moz-selection {
  background: transparent; }

#tei-editor .text-editor .ProseMirror-hideselection {
  caret-color: transparent; }

#tei-editor .text-editor .ProseMirror-selectednode {
  outline: 2px solid #8cf; }

#tei-editor .text-editor li.ProseMirror-selectednode {
  outline: none; }

#tei-editor .text-editor li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none; }

#tei-editor .text-editor .nested {
  background: #ffffff; }

#tei-editor .sidebar {
  background: #e6e6e6;
  border-left: 1px solid #cacaca;
  padding: 1rem;
  width: 30%;
  max-width: 30rem; }
  #tei-editor .sidebar a[role="menuitem"] {
    padding: 0.5rem; }
  #tei-editor .sidebar select[role="menuitem"] {
    margin: 0 0.5rem; }
  #tei-editor .sidebar ul {
    margin-bottom: 1rem; }
  #tei-editor .sidebar label {
    display: block;
    width: 100%;
    font-size: 0.85714rem; }
    #tei-editor .sidebar label input {
      display: block;
      width: 100%;
      font-size: 0.92857rem;
      border: 1px solid #cacaca;
      padding: 0.5rem 0.5rem; }
      #tei-editor .sidebar label input:focus {
        box-shadow: 0 0 0.21429rem #e6e6e6 inset;
        background: #fefefe; }
      #tei-editor .sidebar label input[type="number"] {
        width: 7rem; }

#tei-editor .metadata-editor {
  padding: 1rem; }
  #tei-editor .metadata-editor ul[role="menubar"] {
    background: transparent; }
  #tei-editor .metadata-editor section {
    margin-bottom: 1rem; }
    #tei-editor .metadata-editor section > div > div > ol.multi-row > li {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 0.07143rem solid #e6e6e6; }
  #tei-editor .metadata-editor input[type="text"] {
    max-width: 30rem; }
  #tei-editor .metadata-editor .multi-row > li > div > label > .label-text {
    display: none; }
  #tei-editor .metadata-editor .multi-row > li:first-child > div > label > .label-text {
    display: block; }
  #tei-editor .metadata-editor .multi-row > li > ul {
    align-self: flex-end;
    padding-right: 1rem;
    visibility: hidden; }
    #tei-editor .metadata-editor .multi-row > li > ul [role="menuitem"] {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
  #tei-editor .metadata-editor .multi-row > li:hover {
    background: #cacaca; }
    #tei-editor .metadata-editor .multi-row > li:hover > ul {
      visibility: visible; }
  #tei-editor .metadata-editor .multi-row + ul[role="menubar"] {
    justify-content: flex-end;
    padding-right: 1rem; }
    #tei-editor .metadata-editor .multi-row + ul[role="menubar"] [role="menuitem"] {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }

#busy {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  cursor: wait; }
  #busy progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.28571rem;
    border: none;
    background: #8a8a8a; }

.flash {
  position: fixed;
  right: 1rem;
  top: 1rem;
  max-width: 20rem;
  z-index: 10;
  background: #e6e6e6;
  border: 1px solid #b7512a;
  box-shadow: 0 0 0.71429rem #0a0a0a;
  padding: 0.5rem 1rem; }
  .flash p {
    margin: 0; }

.help {
  width: 43rem;
  max-width: 33.33333%;
  border-left: 1px solid #cacaca; }
