[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
babel = "*"
sphinx = "*"

[packages]
django = "*"
jinja2 = "*"
django-widget-tweaks = "*"
gitpython = "*"
requests = "*"
uwsgi = "*"
