{% import 'macros/icons.jinja2' as icons %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf"/>
    <title>{% block title %}Digital Edition Editor{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,400i,700|Merriweather:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('editor/css/app.css') }}"/>
    <link rel="stylesheet" href="{{ static('editor/css/tei-editor.css') }}"/>
  </head>
  <body>
    <div class="grid-frame grid-y">
      <div class="cell shrink">
        <header class="top-bar">
        <nav class="top-bar-left">
          <ul role="menu">
            <li role="presentation"><a href="{{ url('editor:index') }}" role="menuitem" aria-label="Repositories">{{ icons.icon('server-network') }}</a></li>
            <li role="presentation"><a href="{{ url('editor:repository', kwargs={'rid': repository.id}) }}" role="menuitem">{{ repository.title }}</a></li>
            <li role="presentation"><a href="{{ url('editor:files', kwargs={'rid': repository.id}) }}" role="menuitem" aria-label="Files for the {{ repository.title }} repository" >{{ icons.icon('file-multiple') }}</a></li>
            <li role="presentation"><a href="{{ url('editor:edit', kwargs={'rid': repository.id, 'fid': fid}) }}" role="menuitem" aria-current="true">{{ filename }}</a></li>
          </ul>
        </nav>
        <nav class="top-bar-right">
          <ul role="menu">
            <li class="presentation"><a href="{{ url('editor:help') }}" role="menuitem" tabindex="0" aria-label="Help">{{ icons.icon('help-circle') }}</a></li>
            {% if request.user.is_authenticated %}
              <li class="presentation"><a href="{{ url('logout') }}?next={{ request.path }}" role="menuitem" tabindex="-1">Logout</a></li>
            {% else %}
              <li class="presentation"><a href="{{ url('login') }}?next={{ request.path }}" role="menuitem" tabindex="-1">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
    </div>
    <main class="cell auto">
      <script>
      var last_commit_msg = '{{ last_commit_msg }}';
      window.teiEditorConfig = window.teiEditorConfig || {};
      window.teiEditorConfig.actions = {
          initLoad: function() {
              document.querySelector('#loading').classList.add('is-visible');
              promise = new Promise(function(resolve, reject) {
                  window.fetch('{{ url('editor:raw_tei', kwargs={'rid': repository.id, 'fid': fid}) }}').then(function(response) {
                      response.text().then(function(data) {
                          resolve(data);
                          document.querySelector('#loading').classList.remove('is-visible');
                      }).catch(function() {
                          document.querySelector('#loading').classList.remove('is-visible');
                      });
                  }).catch(function() {
                      document.querySelector('#loading').classList.remove('is-visible');
                  });
              });
              return promise;
          },
          save: function(data) {
              var commit_msg = prompt('Describe the change you made', last_commit_msg);
              if (commit_msg) {
                  document.querySelector('#loading').classList.add('is-visible');
                  window.fetch('{{ url('editor:raw_tei', kwargs={'rid': repository.id, 'fid': fid}) }}', {
                      method: 'PATCH',
                      body: data,
                      headers: {
                          'X-CSRFToken': '{{ csrf_token }}',
                          'X-Commit-Message': commit_msg
                      }
                  }).then(function() {
                      last_commit_msg = commit_msg;
                      document.querySelector('#loading').classList.remove('is-visible');
                  }).catch(function() {
                      document.querySelector('#loading').classList.remove('is-visible');
                  });
              }
          }
      }
      </script>
      <script src="{{ static('editor/js/tei-editor.js') }}"></script>
      <tei-editor></tei-editor>
    </main>
    <div id="loading">{{ icons.spinner() }}</div>
    <script src="{{ static('editor/js/app.js') }}"></script>
  </body>
</html>
