{% extends 'base.jinja2' %}
{% import 'macros/icons.jinja2' as icons %}

{% block menubar %}
  <li role="presentation"><a href="{{ url('editor:index') }}" role="menuitem" aria-label="Repositories">{{ icons.icon('server-network') }}</a></li>
  <li role="presentation"><a href="{{ url('editor:repository', kwargs={'rid': repository.id}) }}" role="menuitem">{{ repository.title }}</a></li>
  <li role="presentation"><a href="{{ url('editor:files', kwargs={'rid': repository.id}) }}" role="menuitem" aria-current="true" aria-label="Files for the {{ repository.title }} repository" >{{ icons.icon('file-multiple') }}</a></li>
{% endblock menubar %}

{% block content %}
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <h1>Files in {{ repository.title }}</h1>
      <ul class="no-bullet">
        {% for hash, filename in files.items() %}
          <li><a href="{{ url('editor:edit', kwargs={'rid': repository.id, 'fid': hash}) }}">{{ filename }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
