{% extends 'base.jinja2' %}
{% import 'macros/icons.jinja2' as icons %}

{% block menubar %}
  <li role="presentation"><a href="{{ url('editor:index') }}" role="menuitem" aria-label="Repositories" aria-current="true">{{ icons.icon('server-network') }}</a></li>
{% endblock menubar %}

{% block content %}
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <h1>Repositories</h1>
      <ul class="no-bullet">
        {% for repository in repositories %}
          <li><a href="{{ url('editor:repository', kwargs={'rid': repository.id}) }}">{{ repository.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
