<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="app"></div>
  <script src="{{ 'digi_edit:static/chunk-vendors.js'|static_url }}"></script>
  <script src="{{ 'digi_edit:static/app.js'|static_url }}"></script>
</body>
</html>
