<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ 'digi_edit:static/sanitize.css'|static_url }}"/>
  <link rel="stylesheet" href="{{ 'digi_edit:static/theme.css'|static_url }}"/>
  <title>Digital Edition Editor</title>
</head>
<body>
  <div id="app"></div>
  <script id="DigiEditConfig" type="application/json">
  {
      "api": {
          "baseURL": "{{ 'api'|route_url }}"
      }
  }
  </script>
  <script src="{{ 'digi_edit:static/chunk-vendors.js'|static_url }}"></script>
  <script src="{{ 'digi_edit:static/app.js'|static_url }}"></script>
</body>
</html>
