<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Digital Edition Editor</title>
  <link rel="stylesheet" href="{{ 'digi_edit:static/sanitize.css'|static_url }}"/>
  <link rel="stylesheet" href="{{ 'digi_edit:static/theme.a898ad8c1c6fa4ed4e15f5c77c07c546.css'|static_url }}"/>
  <link rel="stylesheet" href="{{ 'theme.css'|route_url }}"/>
  <link rel="icon" href="{{ 'digi_edit:static/favicon.png'|static_url }}"/>
</head>
<body>
  <div id="app"></div>
  <script id="DigiEditConfig" type="application/json">
  {
      "api": {
          "baseURL": "{{ 'api'|route_url }}",
          "configURL": "{{ 'config'|route_url }}",
          "changesURL": "{{ 'digi_edit:static/changes.json'|static_url }}",
          "helpURL": "{{ 'digi_edit:static/help/'|static_url }}"
      }
  }
  </script>
  <script src="{{ 'digi_edit:static/app/chunk-vendors.80f11f51.js'|static_url }}"></script>
  <script src="{{ 'digi_edit:static/app/app.6cdb37a8.js'|static_url }}"></script>
</body>
</html>
