[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
waitress = "*"
pywebtools = "*"
gitpython = "*"
lxml = "*"
decorator = "*"
requests = "*"
kajiki = "*"
click = "*"

[dev-packages]
pyramid-debugtoolbar = "*"
