@import "settings";
@import "foundation-sites/foundation";
@include foundation-everything;

/**
 * Generic styles
 */
.full-height {
    height: 100%;
    box-sizing: border-box;
}
.auto-overflow {
    overflow: auto;
}
.hide-overflow {
    overflow: hidden;
}
a {
    svg.icon {
        path {
            fill: $primary-color;
        }

        &:hover {
            path {
                fill: lighten($primary-color, 10%);
            }
        }
    }
}
svg.icon {
    width: 24px;
    height: 24px;

    &.small {
        width: 18px;
        height: 18px;
    }
}
.secondary {
    color: $dark-gray;
    font-size: 80%;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hover-parent {
    .hover {
        display: none;
    }

    &:hover {
        .hover {
            display: inline-block;
        }
    }
}
.position-relative {
    position: relative;

    .position-top-right {
        position: absolute;
        top: 0px;
        right: 0px;
        background: rgba(255, 255, 255, 0.7);
        z-index: 1;
    }
}

/**
 * Foundation overrides
 */
.top-bar {
    margin-bottom: $global-margin;
    border-bottom: 1px solid $medium-gray;

    a {
        svg.icon {
            path {
                fill: $black;
            }

            &:hover {
                path {
                    fill: lighten($black, 20%);
                }
            }
        }
    }
}

.menu {
    .menu-text {
        padding: rem-calc(14) $global-padding;
    }
    .menu-icon-disabled {
        span {
            display: block;
            padding: $global-menu-padding;
            line-height: 1;

            svg {

                path {
                    fill: $medium-gray;
                }
            }
        }
    }
    .separator {
        border-right: 1px solid $medium-gray;
    }
}

/**
 * Editor styling
 */
.body-tag-editor {
    textarea {
        min-height: 10rem;
    }
}
.tei-body-editor {
    .menu {
        margin-bottom: $global-margin;
    }
    .paragraph {
        font-size: 11pt;
        margin-bottom: 0;
        margin-top: 1rem;

        &.no-indent {
            margin-top: 0;
        }
    }
    .page-number {
        font-size: 80%;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .letter-sparse {
        letter-spacing: 0.1rem;
    }
    .invert-font-family {
        font-weight: 300;
    }
    .shouting {
        color: #f00;
    }
}
