@import "settings";
//@import "foundation";

// Global styles
//@include foundation-global-styles;
//@include foundation-forms;
//@include foundation-typography;

// Grids (choose one)
//@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
//@include foundation-button;
//@include foundation-button-group;
//@include foundation-close-button;
//@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
//@include foundation-table;
// Basic components
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
//@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;
// Menu-based containers
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
//@include foundation-dropdown-menu;

// Layout components
//@include foundation-off-canvas;
//@include foundation-reveal;
//@include foundation-sticky;
//@include foundation-title-bar;
//@include foundation-top-bar;

// Helpers
//@include foundation-float-classes;
// @include foundation-flex-classes;
//@include foundation-visibility-classes;
// @include foundation-prototype-classes;


/**
 * Generic styles
 */
.full-height {
    height: 100%;
    box-sizing: border-box;
}
.auto-overflow {
    overflow: auto;
}
.hide-overflow {
    overflow: hidden;
}
a {
    svg.icon {
        path {
            fill: $primary-color;
        }

        &:hover {
            path {
                fill: lighten($primary-color, 10%);
            }
        }
    }
}
svg.icon {
    width: 24px;
    height: 24px;

    &.small {
        width: 18px;
        height: 18px;
    }
}
.secondary {
    color: $dark-gray;
    font-size: 80%;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hover-parent {
    .hover {
        display: none;
    }

    &:hover {
        .hover {
            display: inline-block;
        }
    }
}
.position-relative {
    position: relative;

    .position-top-right {
        position: absolute;
        top: 0px;
        right: 0px;
        background: rgba(255, 255, 255, 0.7);
        z-index: 1;
    }
}

/**
 * Foundation overrides
 */
.top-bar {
    margin-bottom: $global-margin;
    border-bottom: 1px solid $medium-gray;

    a {
        svg.icon {
            path {
                fill: $black;
            }

            &:hover {
                path {
                    fill: lighten($black, 20%);
                }
            }
        }
    }
}

.menu {
    .menu-text {
        padding: rem-calc(14) $global-padding;
    }
    .menu-icon-disabled {
        span {
            display: block;
            padding: $global-menu-padding;
            line-height: 1;

            svg {

                path {
                    fill: $medium-gray;
                }
            }
        }
    }
    .separator {
        border-right: 1px solid $medium-gray;
    }
    &.dropdown {
        .is-active {
            a {
                background: $menu-item-background-active;
                color: $menu-item-color-active;
            }
        }
    }
}

/**
 * Editor styling
 */
.body-tag-editor {
    textarea {
        min-height: 10rem;
    }
}
.tei-body-editor {
    .menu {
        margin-bottom: $global-margin;
    }
    .editor {
        font-family: 'Open Sans', sans-serif;

        *:last-child() {
            padding-bottom: 100vh;
        }
        h1 {
            font-size: 15pt;
            font-weight: bold;
            text-align: center;
            margin: 0;
        }
        * + h1 {
            margin-top: 3rem;
        }
        h1 + h1 {
            margin-top: 0;
        }
        h2 {
            font-size: 13pt;
            font-weight: bold;
            text-align: center;
        }
        .content-heading {
            font-size: 13pt;
        }
        h1 + .content-heading {
            margin-top: 1.5rem;
        }
        p {
            font-size: 11pt;
            margin-bottom: 0;
            margin-top: 1rem;

            &.no-indent {
                margin-top: 0;
            }
        }
        h1 + p, h2 + p {
            margin-top: 3rem !important;

            &.no-indent {
                margin-top: 0 !important;
            }
        }
        .page-break {
            font-size: 80%;
            margin-left: 0.2rem;
            margin-right: 0.2rem;

            &::before {
                content: '['
            }
            &::after {
                content: ']'
            }
        }
        .letter-sparse {
            letter-spacing: 0.1rem;
        }
        .font-weight-bold {
            font-weight: 700;
        }
        .font-style-italic {
            font-style: italic;
        }
        .font-size-large {
            font-size: 15pt;
        }
        .font-size-medium {
            font-size: 13pt;
        }
        .font-size-small {
            font-size: 10pt;
        }
        .font-size-very-small {
            font-size: 8pt;
        }
        .foreign-language {
            font-weight: 300;
        }
        .indent-big {
            margin-left: 3rem;
        }
        span {
            background: $light-gray;
        }
    }
}
