#busy {
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    cursor: wait;

    progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: rem-calc(4px);
        border: none;
        background: $dark-gray;
    }
}
