dl.detail-list {
    dt {
        margin: 0;
        padding: 0;
        font-weight: normal;
        border-left: rem-calc(1px) solid $medium-gray;
        border-right: rem-calc(1px) solid $medium-gray;
        border-top: rem-calc(1px) solid $medium-gray;
        border-top-left-radius: rem-calc(3px);
        border-top-right-radius: rem-calc(3px);
        padding: $global-padding/3 $global-padding 0 $global-padding;

        h2 {
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            a {
                text-decoration: none;
            }
        }
    }

    dd {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0 $global-padding $global-padding/3 $global-padding;
        font-size: rem-calc(12px);
        color: $very-dark-gray;
        margin-bottom: $global-margin;
        border-left: rem-calc(1px) solid $medium-gray;
        border-right: rem-calc(1px) solid $medium-gray;
        border-bottom: rem-calc(1px) solid $medium-gray;
        border-bottom-left-radius: rem-calc(3px);
        border-bottom-right-radius: rem-calc(3px);

        span {
            flex: 1 1 0;
            display: block;
            padding-right: $global-padding;

            &:last-child {
                padding-right: 0;
            }
        }

        li {
            margin-bottom: $global-margin/4;
        }
    }
}
