.flex {
    display: flex;
    flex-direction: row;

    &.vertical {
        flex-direction: column;
    }

    &.align-end {
        justify-content: flex-end;
    }

    &.align-bottom {
        align-items: flex-end;
    }

    > * {
        flex: 1 1 auto;
        box-sizing: border-box;
    }

    > .shrink {
        flex: 0 0 auto;
    }

    > .expand {
        flex: 1 1 auto;
        overflow: auto;
    }

    > span {
        display: block;
    }

    > .align-end {
        align-self: flex-end;
    }

    > .flex-25 {
        width: 25%;
    }

    > .flex-75 {
        width: 75%;
    }
}
