svg.icon {
    width: rem-calc(18px);
    height: rem-calc(18px);

    &.large {
        width: rem-calc(24px);
        height: rem-calc(24px);
    }

    &.small {
        width: rem-calc(14px);
        height: rem-calc(14px);
    }

    &.success {
        path, g {
            fill: #00aa00;
        }
    }

    &.warning {
        path, g {
            fill: #dd0000;
        }
    }
}

[aria-disabled="true"] {
    svg {
        path, g {
            fill: $light-gray;
        }
    }
}
