nav {
    border-bottom: 1px solid $medium-gray;
}

ul[role="menubar"] {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: $light-gray;

    &.transparent {
        background: transparent;
    }

    li {
        list-style-type: none;

        &.expander {
            flex: 1 1 auto;
        }

        &.separator {
            width: $global-padding;
        }
    }

    a[role="menuitem"] {
        display: block;
        padding: $global-padding/2 $global-padding;
        cursor: pointer;
        text-decoration: none;
        border-bottom: rem-calc(4px) solid transparent;
        color: $colour-primary-dark;

        &[aria-current="true"], &[aria-checked="true"], &:hover, &:focus {
            outline: none;
            border-bottom: rem-calc(4px) solid $colour-primary;
        }

        &[aria-disabled="true"] {
            border-bottom: rem-calc(4px) solid transparent;
            cursor: not-allowed;
        }
    }

    select[role="menuitem"] {
        margin: 0 $global-padding;
    }

    span {
        display: block;
        padding: $global-padding/2 $global-padding;
        font-weight: bold;
        border-bottom: rem-calc(4px) solid transparent;
    }
}
