$global-font-family: Arial, Helvetica, sans-serif;
$global-font-size: 14px;

$black: #0a0a0a;
$white: #fefefe;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$very-dark-gray: #4a4a4a;
$colour-primary: #b7512a;
$colour-primary-dark: #b24400;
$colour-primary-light: #e5f0f9;
$colour-highlight: #ffc23d;
$colour-error: #cc0000;

$global-padding: 1rem;
$global-margin: 1rem;
