#tei-editor {
    > nav {
        li {
            &:first-child {
                margin-right: $global-margin;
            }
        }
    }

    .text-editor {
        .ProseMirror {
            padding: 0 $global-padding;
            position: relative;
            word-wrap: break-word;
            white-space: pre-wrap;
            white-space: break-spaces;
            -webkit-font-variant-ligatures: none;
            font-variant-ligatures: none;
            font-feature-settings: "liga" 0;
        }

        .ProseMirror pre {
            white-space: pre-wrap;
        }

        .ProseMirror li {
            position: relative;
        }

        .ProseMirror-hideselection *::selection {
            background: transparent;
        }

        .ProseMirror-hideselection *::-moz-selection {
            background: transparent;
        }

        .ProseMirror-hideselection {
            caret-color: transparent;
        }

        .ProseMirror-selectednode {
            outline: 2px solid #8cf;
        }

        li.ProseMirror-selectednode {
            outline: none;
        }

        li.ProseMirror-selectednode:after {
            content: "";
            position: absolute;
            left: -32px;
            right: -2px; top: -2px; bottom: -2px;
            border: 2px solid #8cf;
            pointer-events: none;
        }
    }

    .text-editor {
        .nested {
            .overlay {
                background: rgba(0, 0, 0, 0.4);
            }
            .text-editor {
                background: #ffffff;
            }
        }
    }

    .sidebar {
        background: $light-gray;
        border-left: 1px solid $medium-gray;
        padding: $global-padding;
        width: 30%;
        max-width: 30rem;

        a[role="menuitem"] {
            padding: $global-padding/2;
        }

        select[role="menuitem"] {
            margin: 0 $global-padding/2;
        }

        ul {
            margin-bottom: $global-margin;
        }

        label {
            display: block;
            width: 100%;
            font-size: rem-calc(12px);

            input {
                display: block;
                width: 100%;
                font-size: rem-calc(13px);
                border: 1px solid $medium-gray;
                padding: $global-padding/2 $global-padding/2;

                &:focus {
                    box-shadow: 0 0 rem-calc(3px) $light-gray inset;
                    background: $white;
                }

                &[type="number"] {
                    width: 7rem;
                }
            }
        }
    }

    .metadata-editor {
        padding: $global-padding;

        ul[role="menubar"] {
            background: transparent;
        }

        section {
            margin-bottom: $global-margin;

            > div {
                > div {
                    > ol.multi-row {
                        > li {
                            padding-bottom: $global-margin/2;
                            margin-bottom: $global-margin/2;
                            border-bottom: rem-calc(1px) solid $light-gray;
                        }
                    }
                }
            }
        }

        input[type="text"] {
            max-width: 30rem;
        }

        .multi-row {
            > li {
                > div {
                    > label {
                        > .label-text {
                            display: none;
                        }
                    }
                }

                &:first-child {
                    > div {
                        > label {
                            > .label-text {
                                display: block;
                            }
                        }
                    }
                }

                > ul {
                    align-self: flex-end;
                    padding-right: $global-padding;
                    visibility: hidden;

                    [role="menuitem"] {
                        padding-left: $global-padding/2;
                        padding-right: $global-padding/2;
                    }
                }

                &:hover {
                    background: $medium-gray;

                    > ul {
                        visibility: visible;
                    }
                }
            }

            + ul[role="menubar"] {
                justify-content: flex-end;
                padding-right: $global-padding;

                [role="menuitem"] {
                    padding-left: $global-padding/2;
                    padding-right: $global-padding/2;
                }
            }
        }
    }
}
