/**
 * Generic styles
 */
.full-height {
  height: 100%;
  box-sizing: border-box;
}

.auto-overflow {
  overflow: auto;
}

.hide-overflow {
  overflow: hidden;
}

a svg.icon path {
  fill: #1779ba;
}
a svg.icon:hover path {
  fill: #2196e3;
}

svg.icon {
  width: 20px;
  height: 20px;
}
svg.icon.small {
  width: 16px;
  height: 16px;
}

.secondary {
  color: #8a8a8a;
  font-size: 80%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hover-parent .hover {
  display: none;
}
.hover-parent:hover .hover {
  display: inline-block;
}

.position-relative {
  position: relative;
}
.position-relative .position-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

/**
 * Foundation overrides
 */
h1 {
  font-size: 18pt;
}

.top-bar {
  margin-bottom: 1rem;
  border-bottom: 1px solid #cacaca;
}
.top-bar .dropdown.menu li a {
  background: #e6e6e6;
}
.top-bar a svg.icon path {
  fill: #0a0a0a;
}
.top-bar a svg.icon:hover path {
  fill: #3d3d3d;
}

.menu .menu-text {
  padding: 0.875rem 1rem;
}
.menu .menu-icon-disabled span {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}
.menu .menu-icon-disabled span svg path {
  fill: #cacaca;
}
.menu .separator {
  border-right: 1px solid #cacaca;
}
.menu.dropdown .is-active a {
  background: #1779ba;
  color: #fefefe;
}

.accordion-content {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Loading indicator
 */
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.loading .animate-rotate {
  width: 48px;
  height: 48px;
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
 * Editor styling
 */
.body-tag-editor textarea {
  min-height: 10rem;
}

.tei-body-editor .menu {
  margin-bottom: 1rem;
}
.tei-body-editor .editor {
  font-family: "Open Sans", sans-serif;
  max-width: 43rem;
}
.tei-body-editor .editor *:last-child() {
  padding-bottom: 100vh;
}
.tei-body-editor .editor h1 {
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.tei-body-editor .editor * + h1 {
  margin-top: 3rem;
}
.tei-body-editor .editor h1 + h1 {
  margin-top: 0;
}
.tei-body-editor .editor h2 {
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
}
.tei-body-editor .editor .content-heading {
  font-size: 13pt;
}
.tei-body-editor .editor h1 + .content-heading {
  margin-top: 1.5rem;
}
.tei-body-editor .editor p {
  font-size: 11pt;
  margin-bottom: 0;
  margin-top: 1rem;
}
.tei-body-editor .editor p.no-indent {
  margin-top: 0;
}
.tei-body-editor .editor h1 + p, .tei-body-editor .editor h2 + p {
  margin-top: 3rem !important;
}
.tei-body-editor .editor h1 + p.no-indent, .tei-body-editor .editor h2 + p.no-indent {
  margin-top: 0 !important;
}
.tei-body-editor .editor .page-break {
  font-size: 80%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.tei-body-editor .editor .page-break::before {
  content: "[";
}
.tei-body-editor .editor .page-break::after {
  content: "]";
}
.tei-body-editor .editor .letter-sparse {
  letter-spacing: 0.1rem;
}
.tei-body-editor .editor .font-weight-bold {
  font-weight: 700;
}
.tei-body-editor .editor .font-style-italic {
  font-style: italic;
}
.tei-body-editor .editor .font-size-large {
  font-size: 15pt;
}
.tei-body-editor .editor .font-size-medium {
  font-size: 13pt;
}
.tei-body-editor .editor .font-size-small {
  font-size: 10pt;
}
.tei-body-editor .editor .font-size-very-small {
  font-size: 8pt;
}
.tei-body-editor .editor .foreign-language {
  font-weight: 300;
}
.tei-body-editor .editor .indent-big {
  margin-left: 3rem;
}
.tei-body-editor .editor span:hover {
  background: #e6e6e6;
}

/*# sourceMappingURL=client.css.map */