/*
 * ARIA Compliant Menu
 */
*[role="menu"] {
    @include menu-base;
    background: $light-gray;

    &[aria-orientation="vertical"] {
        @include menu-direction('vertical');

        li.separator {
            padding-right: 0;
            padding-bottom: $global-padding;
        }
    }

    li {
        position: relative;

        &.menu-text {
            @include menu-text;
        }

        &.separator {
            padding-right: $global-padding;
        }

        &[role="separator"] {
            width: $global-padding;
        }

        *[role="menuitem"] {
            cursor: pointer;
            height: 100%;

            &[aria-disabled="true"] {
                cursor: not-allowed;
            }

            &[aria-current="true"], &:hover {
                background: $primary-color;
                color: $white;

                svg path {
                    fill: $white;
                }
            }
        }

        & > *[role="menu"] {
            display: none;
            position: absolute;
            z-index: 1;

            *[role="menu"] {
                position: absolute;
                top: 0;
                left: 100%;
            }
        }

        &:hover {
            & > *[role="menu"] {
                display: block;
            }
        }
    }
}
