#app {
    height: 100%;
}

#tei-editor {
    .metadata-editor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > section {
            padding: 0 1rem;
            box-sizing: border-box;
            width: 100%;

            &:nth-child(1), &:nth-child(2) {
                @include breakpoint(large) {
                    width: 50%;
                }
            }

            > div {
                margin-bottom: $global-margin;
            }
        }

        input {
            margin-bottom: 0;
        }

        .multi-row {
            > li {
                &:not(:first-child) {
                    > div {
                        > label {
                            .label-text {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        [role="menubar"] {
            background: transparent;
            align-items: center;
        }

        [role="menu"] {
            background: transparent;
        }
    }

    .text-editor {
        padding: 0 1rem;
        box-sizing: border-box;
        font-family: 'Merriweather', Georgia, serif;
        font-size: 11pt;

        .nested {
            background: $white;
            top: 0;
            left: 0;
        }

        > div {
            overflow-y: auto;

            &:nth-child(2) {
                background: $light-gray;
                padding: 0 1rem;
                width: 25%;

                > div {
                    margin-bottom: 1rem;
                }

                h2 {
                    font-size: 14pt;
                    font-weight: bold;
                }

                label {
                    input {
                        display: block;
                    }
                }
            }
        }

        .node-paragraph {
            text-indent: 2rem;

            &[data-noindent="true"] {
                text-indent: 0;
            }

            &[data-textalign="center"] {
                text-align: center;
            }

            &[data-textalign="right"] {
                text-align: right;
            }

            &[data-textalign="justify"] {
                text-align: justify;
            }
        }

        .node-heading {
            font-weight: bold;
            text-align: center;

            &[data-level="1"] {
                font-size: 15pt;
            }

            &[data-level="2"] {
                font-size: 13pt;
            }

            &[data-level="3"] {
                font-size: 12pt;
            }


            &[data-level="4"] {
                font-size: 11pt;
            }
        }

        .node-lineGroup {
            margin: 1rem 0;
        }

        .node-pageBegin {
            font-size: 80%;
            font-style: italic;

            &::before {
                content: '[';
            }

            &::after {
                content: ']';
            }
        }

        .node-foreignLanguage {
            font-weight: 300;
        }

        .node-annotationMarker {
            text-decoration: underline dotted;
        }

        .node-annotationGlobal {
            text-decoration: underline dotted;
        }

        .node-footnoteMarker {
            text-decoration: underline dotted;
        }

        .node-quotation {
            font-style: italic;
        }

        .node-sourceList {
            .node-source {
            }
        }

        .node-lineGroup {
            margin-top: 1rem;
            margin-left: 2rem;

            .node-line {
            }
        }

        .node-pageLineRef {
            font-weight: bold;
        }

        .node-wordRange {
            padding-left: $global-padding;
        }

        .node-sic {
            font-style: italic;
        }

        .node-reading {
            font-style: italic;
        }

        .node-lemma {
            font-style: italic;

            &::after {
                content: ' ]';
                font-style: normal;
            }
        }

        .node-missing {
            &::before {
                content: '\25fc';
                vertical-align: sub;
            }
            &::after {
                content: '\25fc';
                vertical-align: super;
            }
        }

        .mark-letterSparse {
            letter-spacing: 1.5pt;
        }

        .mark-fontWeightBold {
            font-weight: 700;
        }

        .mark-fontStyleItalic {
            font-style: italic;
        }

        .mark-fontSize {
            &[data-size="small"] {
                font-size: 10pt;
            }

            &[data-size="medium"] {
                font-size: 13pt;
            }

            &[data-size="large"] {
                font-size: 15pt;
            }
        }

        .mark-sup {
            vertical-align: super;
            font-size: 80%;
        }
    }
}
