/* Load Foundation */
@import 'foundation';
@import 'settings';

@include foundation-everything;

@import 'aria-menu';

[role="menuitem"] svg, [role="menuitem"] svg.mdi-icon {
    width: 18px;
    height: 18px;
}

header.top-bar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $medium-gray;
}

.tei-editor-menubar > [role="menu"] {
    border-bottom: 1px solid $medium-gray;

    [role="menu"] {
        box-shadow: 2px 5px 3px $dark-gray;
    }
}

#loading {
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    transition: background-color 0.5s;
    visibility: hidden;

    &.is-visible {
        z-index: 2000;
        visibility: visible;
        background-color: #00000066;
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 110px;
        background: #ffffff;
        padding: 30px 50px;
        border-radius: 10px;
    }
}
