/* Load Foundation */
@import 'foundation';
@import 'settings';

@include foundation-everything;

@import 'aria-menu';

[role="menuitem"] svg, [role="menuitem"] svg.mdi-icon {
    width: 18px;
    height: 18px;
}

svg.mdi-icon {
    height: 24px;
    width: 24px;
}

.help aside {
    dd {
        margin-bottom: $global-margin;
    }
}

header.top-bar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $medium-gray;
}

.margin-top {
    margin-top: $global-margin;
}
.margin-bottom {
    margin-bottom: $global-margin;
}
.margin-right {
    margin-right: $global-margin;
}

.tei-editor-menubar > [role="menu"] {
    border-bottom: 1px solid $medium-gray;

    [role="menu"] {
        box-shadow: 2px 5px 3px $dark-gray;
    }
}

ul.tree {
    margin: 0;

    li {
        list-style-type: none;

        ul {
            margin-left: $global-margin;
        }
    }
}

#loading {
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    transition: background-color 0.5s;
    visibility: hidden;

    &.is-visible {
        z-index: 2000;
        visibility: visible;
        background-color: #00000066;
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 110px;
        background: #ffffff;
        padding: 30px 50px;
        border-radius: 10px;
    }
}

.tei-editor-prosemirror-sidebar {
    background: $light-gray;
    padding: $global-padding;

    dd {
        margin-bottom: $global-margin;
    }
}
#annotations .tei-editor-prosemirror-editor {
    font-family: 'Merriweather Sans', Arial, serif;
}
.tei-editor-prosemirror-editor {
    padding: $global-padding;
    font-family: 'Merriweather', Georgia, serif;

    .tei-editor-pageBegin {
        font-size: 80%;
        font-style: italic;

        &::before {
            content: '['
        }
        &::after {
            content: ']'
        }
    }
    .tei-editor-letterSparse {
        letter-spacing: 1.5pt;
    }
    .tei-editor-fontWeightBold {
        font-weight: 700;
    }
    .tei-editor-fontStyleItalic {
        font-style: italic;
    }
    .tei-editor-fontSize {
        &[data-size="small"] {
            font-size: 10pt;
        }
        &[data-size="medium"] {
            font-size: 13pt;
        }
        &[data-size="large"] {
            font-size: 15pt;
        }
    }
    .tei-editor-foreignLanguage {
        font-weight: 300;
    }
    .tei-editor-sup {
        font-size: 80%;
        vertical-align: super;
    }
    .tei-editor-quotation {
        font-style: italic;
    }
    .tei-editor-annotation, .tei-editor-annotationGlobal {
        text-decoration: underline dotted;
    }
    .tei-editor-heading {
        &[data-level="1"] {
            font-size: 15pt;
            font-weight: bold;
            text-align: center;
            margin: 0;
        }
    }
    * + .tei-editor-heading[data-level="1"] {
        padding-top: 3rem;
    }
    .tei-editor-heading[data-level="1"] + .tei-editor-heading[data-level="1"] {
        padding-top: 0;
    }
    .tei-editor-heading[data-level="2"] {
        font-size: 13pt;
        font-weight: bold;
        text-align: center;
    }
    * + .tei-editor-heading[data-level="2"] {
        padding-top: 2rem;
    }
    .tei-editor-heading[data-level="2"] + .tei-editor-heading[data-level="2"] {
        padding-top: 0;
    }
    .tei-editor-heading[data-level="3"] {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
    }
    * + .tei-editor-heading[data-level="3"] {
        padding-top: 1.5rem;
    }
    .tei-editor-heading[data-level="2"] + .tei-editor-heading[data-level="3"] {
        padding-top: 0;
    }
    .tei-editor-paragraph, .tei-editor-sourceList {
        font-size: 11pt;
        margin-bottom: 0;
        text-indent: 1cm;

        &[data-noindent="true"] {
            text-indent: 0;
        }

        &[data-textalign="center"] {
            text-align: center;
        }

        &[data-textalign="right"] {
            text-align: right;
        }

        &[data-textalign="justify"] {
            text-align: justify;
        }
    }
    .tei-editor-heading[data-level="1"] + .tei-editor-paragraph, .tei-editor-heading[data-level="2"] + .tei-editor-paragraph {
        margin-top: 3rem !important;
    }
    .tei-editor-lineGroup {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .tei-editor-line {
        font-size: 11pt;
    }
    .tei-editor-pageLineRef {
        font-weight: bold;
    }
    .tei-editor-wordRange {
        padding-left: $global-padding;
    }
    .tei-editor-sic {
        font-style: italic;
    }
    .tei-editor-lemma {
        font-style: italic;

        &::after {
            content: ' ]';
            font-style: normal;
        }
    }
    .tei-editor-footnote {
        font-size: 9pt;
        font-weight: normal;
        font-style: normal;
        border: 1px solid $dark-gray;
        border-radius: 3px;
        padding: 0.1rem 0.2rem;
        background: $light-gray;
    }
}
