#loading {
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    transition: background-color 0.5s;
    visibility: hidden;

    &.is-visible {
        z-index: 2000;
        visibility: visible;
        background-color: #00000066;
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 110px;
        background: #ffffff;
        padding: 30px 50px;
        border-radius: 10px;
    }
}
