{% extends "base.jinja2" %}

{% block title %}{% trans %}Change your Password{% endtrans %}{% endblock %}

{% block menubar %}
<li role="presentation"><a href="{{ url('editor:index') }}" role="menuitem" aria-label="{% trans %}Editions{% endtrans %}">{{ icons.icon('server-network') }}</a></li>
{% endblock menubar %}

{% block content %}
<div class="grid-x">
  <form action="{{ url('password_change') }}" method="post" class="cell small-12 medium-6 large-4 medium-offset-3 large-offset-4">
    {{ csrf_input }}
    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
    <h1>{% trans %}Change your Password{% endtrans %}</h1>
    {% if form.errors %}
      <div>
        <label class="is-invalid-label">{{ form.old_password.label }}
          {{ form.old_password|add_class('is-invalid-input') }}
        </label>
        <span class="form-error is-visible">{{ form.old_password.errors }}</span>
      </div>
      <div>
        <label class="is-invalid-label">{{ form.new_password1.label }}
          {{ form.new_password1|add_class('is-invalid-input') }}
        </label>
        <span class="form-error is-visible">{{ form.new_password1.errors }}</span>
        {% if form.new_password1.help_text %}
          <div class="help-text">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
      </div>
      <div>
        <label class="is-invalid-label">{{ form.new_password2.label }}
          {{ form.new_password2|add_class('is-invalid-input') }}
        </label>
        <span class="form-error is-visible">{{ form.new_password2.errors }}</span>
      </div>
    {% else %}
      <div>
        <label>{{ form.old_password.label_tag() }}
          {{ form.old_password }}
        </label>
      </div>
      <div>
        <label>{{ form.new_password1.label_tag() }}
          {{ form.new_password1 }}
        </label>
        {% if form.new_password1.help_text %}
          <div class="help-text">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
      </div>
      <div>
        <label>{{ form.new_password2.label_tag() }}
          {{ form.new_password2 }}
        </label>
      </div>
    {% endif %}
    <div class="text-right">
      <button class="button">{% trans %}Change your Password{% endtrans %}</button>
    </div>
  </form>
</div>
{% endblock %}
