{% import 'macros/icons.jinja2' as icons %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf"/>
    <title>{% block title %}Digital Edition Editor{% endblock title %}</title>
    <link rel="stylesheet" href="{{ static('editor/css/app.css') }}"/>
  </head>
  <body>
    <header class="top-bar">
      <nav class="top-bar-left">
        <ul role="menu">
          {% block menubar %}
          {% endblock menubar %}
        </ul>
      </nav>
      <nav class="top-bar-right">
        <ul role="menu">
          <li class="presentation"><a href="{{ url('editor:help') }}" role="menuitem" tabindex="0" aria-label="{% trans %}Help{% endtrans %}" target="digital-edition-editor-help" data-no-loading-indicator="true">{{ icons.icon('help-circle') }}</a></li>
          {% if request.user.is_authenticated %}
            <li class="presentation menu-text">{{ request.user.first_name }}:</li>
            <li class="presentation"><a href="{{ url('password_change') }}" role="menuitem" tabindex="-1">{% trans %}Change Password{% endtrans %}</a></li>
            <li class="presentation"><a href="{{ url('logout') }}?next={{ request.path }}" role="menuitem" tabindex="-1">{% trans %}Logout{% endtrans %}</a></li>
          {% else %}
            <li class="presentation"><a href="{{ url('login') }}?next={{ request.path }}" role="menuitem" tabindex="-1">{% trans %}Login{% endtrans %}</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <div id="loading">{{ icons.spinner() }}</div>
    <script src="{{ static('editor/js/app.js') }}"></script>
    {% block body_scripts %}
    {% endblock body_scripts %}
  </body>
</html>
